header{
    background-color: midnightblue;
}

#searchSection{
    float: left;
    text-align: center;
}

.card,
#submitBtn {
    background-color: midnightblue;
    color: white;
}

.historyBtn { 
    width: 90%; 
    background-color: black; 
    color: white; 
    border-radius: 4px;  
    padding: 8px; 
    margin: 8px; 
    margin-left: 0; 
    margin-right: 0;
}
