header{
    background-color: midnightblue;
}

#searchSection{
    float: left;
    text-align: center;
}

.card,
#submitBtn {
    background-color: midnightblue;
    color: white;
}

#searchHistory{
    display: flex;
    flex-direction: column;
   
   
}

.historyBtn { 
    
    background-color: black; 
    color: white;  
    padding: 8px; 
    margin: 8px; 
    margin-right: 0;
}
